os
ast
nbformat==5.3.0
pkg_resources
pandas==1.4.2
random
spacy.training.example.Example
re
spacy==3.3.0
spacy.pipeline.EntityRuler
spacy.util.minibatch
spacy.lang.en.English
dtale
numpy==1.21.5
missingno==0.4.2
datetime.date
datetime.datetime
json
pyarrow.parquet
plotly.express
sklearn.preprocessing.OneHotEncoder
sklearn.compose.make_column_transformer
sklearn.pipeline.make_pipeline
html
pyodbc==4.0.32
urllib
xml.etree.ElementTree
zipfile
cbsodata
osmnx
requests==2.27.1
unicodedata
string
bs4.BeautifulSoup
os.path.join
argparse
PrivacyFilter.PrivacyFilter
unittest
time
uvicorn
fastapi.FastAPI
pydantic.BaseModel
io
sys
trace
difflib
OpenSSL.crypto
OpenSSL.SSL
yaml
nl_core_news_lg==3.3.0
Processor.KeywordProcessor
altair==5.0.0
pytz==2021.3
functools.reduce
azure.storage.blob.BlobServiceClient
concurrent.futures
queue
sqlactions
sklearn.feature_extraction.text.TfidfVectorizer
sklearn.cluster.KMeans
sklearn.cluster.DBSCAN
sklearn.decomposition.PCA
sklearn.feature_extraction.text.CountVectorizer
sklearn.manifold.TSNE
umap.umap_.UMAP
sklearn.decomposition.TruncatedSVD
matplotlib.pyplot
ydata_profiling.ProfileReport
gensim.models.Word2Vec
sklearn.metrics.mean_absolute_error
sklearn.dummy.DummyRegressor
plotly.graph_objects
sklearn.model_selection.cross_val_score
sklearn.preprocessing.StandardScaler
sympy.symbols
sympy.latex
sklearn.tree.DecisionTreeRegressor
sklearn.linear_model.Lasso
sklearn.metrics.make_scorer
sympy.Abs
sklearn.ensemble.GradientBoostingRegressor
sklearn.linear_model.LinearRegression
sklearn.ensemble.RandomForestRegressor
sklearn.linear_model.ElasticNet
sympy.Sum
sklearn.linear_model.Ridge
sklearn.metrics.mean_squared_error
shap
sklearn.model_selection.GridSearchCV
sklearn.model_selection.RandomizedSearchCV
sklearn.model_selection.train_test_split
